<!doctype HTML>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Mighty Message Board</title> 
        <link rel="stylesheet" href="./style.css">      
    </head>
    <body>
        <h1>An Elephant Never Forgets</h1>
        <p>Fill in this form to post to this wall</p>
        <form method="POST" action="/post">
            <label>
                <h4>Name:</h4>
                <input type="text" name="name">
            </label>
            <label>
                <h4>Message:</h4>
                <textarea name="message"></textarea>
            </label>
            <input type="submit" value="CHUCK IT IN">
        </form>
        <ul class="currentPosts">
            <% for(var post of posts){ %>
                <li class="post">
                    <div class="postContent">
                        <h2><%= post.message %></h2>
                        <p>By <%= post.name %></p>
                        <% if (post.comments.length !== 0) { %>
                            <ul class="comments">
                                <% for(var comment of post.comments){ %>
                                    <li>
                                        <span>Comment by <%= comment.name %> : </span>
                                        <%= comment.message %>
                                    </li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                    <form class="postReply" method="POST" action="/message">
                        <label>
                            Name: <input type="text" name="name">
                        </label><br>
                        <label>
                            Message: <textarea name="message"></textarea>
                        </label>
                        <input type="hidden" name="postID" value="<%= post._id %>">
                        <input type="submit" value="rabble rabble">
                    </form>
                </li>
            <% } %>
        </ul>
    </body>
</html>